* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/**Common CSS Starts Here**/

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 48px;
  padding: 15px 25px;
}

.pink-btn {
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  color: white;
  font-weight: 700;
}

.blue-btn {
  background: #4EC5F7;
  color: white;
  font-weight: 700;
}

.gradient-text {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-text {
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
}

/**Common CSS Ends Here**/

.hide {
  display: none;
}

/**Nav Bar CSS Starts Here**/

nav {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-content {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo span {
  color: #FF42A5;
}

.nav-links-container ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links-container ul li a {
  color: #3C354F;
  font-size: 18px;
  font-weight: 500;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
}

.social-btn i {
  margin: 0px 5px;
}

/**Nav Bar CSS Ends Here**/

/**Banner Section CSS Starts Here**/
.banner-content {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.banner-info {
  background-image: url('../images/Group 14.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 700px;
  width: 100%;
  padding-left: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-info h2 {
  color: #0B0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-info h1 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-info li {
  margin: 10px 0px;
}

.banner-info i {
  margin-right: 10px;
}

.banner-info a {
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  padding: 0px 10px;
}

.banner-btn-container {
  margin-top: 20px;
}

/**Banner Section CSS Ends Here**/


/**We Are Gammer Starts Section**/

.we-are-gamer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
}

.we-are-gamer-info {
  text-align: right;
  margin: 10px;
  padding-right: 20px;
}

.we-are-gamer-info h2 {
  margin: 10px 0px;
}

.we-are-gamer-info p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.we-are-gamer-info button {
  margin-bottom: 10px;
}

.we-are-gamer-info b {
  color: #534C64;
  font-size: 32px;
  font-weight: 700;
}

/**We Are Gammer Section**/

/**Online Gaming Section Starts Here**/
.online-gaming-section {
  max-width: 1920px;
  margin: 0 auto;
}

.online-gaming-header {
  text-align: center;
  margin-bottom: 20px;
}

.online-gaming-card-container {
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(4, 300px);
}

.game-card img {
  width: 100%;
}

/**Online Gaming Section Ends Here**/

/**Play online game section start here**/
.play-online-game-container {
  margin: 20px 0px;
}

.play-online-game-content {
  min-height: 400px;
  max-width: 1920px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.play-online-img-container {
  min-height: 300px;
  min-width: 50%;
  position: relative;
}

.play-online-img-2 {
  position: absolute;
  bottom: -20%;
  right: 50px;
}

.play-online-text-container {
  min-height: 300px;
  min-width: 50%;
}

.play-online-text-container h1 {
  font-size: 48px;
  font-weight: 700;
}

/**Play online game section end here**/

/**Game Button Section Start Here**/

/**Game Button Section End Here**/



/**Responsive CSS For Tablet Starts Here**/

@media screen and (max-width: 900px) and (min-width: 576px) {

  /**Banner Section Start Here**/
  .banner-content {
    flex-direction: column-reverse;
  }

  .banner-image img {
    width: 100%;
    padding: 20px;
  }

  /**Banner Section Ends Here**/


  /**We Are Gammer Section Starts Here**/
  .we-are-gamer-content {
    flex-direction: column;
  }

  .we-are-gamer-img-container img {
    width: 100%;
  }

  .we-are-gamer-info {
    text-align: center;
    padding-right: 0px;
  }

  .we-are-gamer-info br {
    display: none;
  }

  .we-are-gamer-info span br {
    display: block;
  }

  /**We Are Gammer Section Ends Here**/

  /**Play Online Section Start Here**/

  .online-gaming-card-container {
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(2, 300px);
  }

  .play-online-game-content {
    flex-direction: column;
  }

  .play-online-text-container {
    margin-top: 200px;
  }

  /**Play Online Section Ends Here**/
}

/**Responsive CSS For Tablet Ends Here**/


/**Responsive CSS For Mobile Starts Here**/

@media screen and (max-width: 576px) {

  /**Nav Bar Css Starts Here**/
  .nav-content {
    flex-direction: column;
  }

  .nav-links-container ul {
    flex-direction: column;
    margin-top: 60px;
  }

  .nav-links-container ul li a {
    margin-bottom: 20px;
  }

  /**Nav Bar Css Ends Here**/

  /**Banner Section CSS Starts Here**/
  .banner-content {
    flex-direction: column-reverse;
  }

  .banner-info {
    height: auto;
    margin-top: 50px;
    padding-left: 10px;
  }

  .banner-image img {
    width: 100%;
    padding: 20px;
  }

  /**Banner Section CSS Ends Here**/

  /**We are gamer content section starts here**/
  .we-are-gamer-content {
    flex-direction: column;
  }

  .we-are-gamer-img-container img {
    width: 100%;
  }

  .we-are-gamer-info {
    text-align: center;
    padding-right: 0px;
  }

  .we-are-gamer-info br {
    display: none;
  }

  .we-are-gamer-info span br {
    display: block;
  }

  /**We are gamer content section Ends here**/

  /**Online Gaming Section Starts Here**/
  .online-gaming-card-container {
    justify-content: center;
    gap: 30px;
    grid-template-columns: 1fr;
  }

  .game-card {
    margin: 20px;
  }

  /**Online Gaming Section Ends Here**/

  /**Play Online Section Start Here**/

  .play-online-img-1 {
    width: 300px;
  }

  .play-online-img-2 {
    position: absolute;
    bottom: 0%;
    right: -15px;
    width: 100px;
  }

  .play-online-game-content {
    flex-direction: column;
  }

  .play-online-text-container {
    margin-top: 100px;
  }

  .play-online-text-container h1 {
    font-size: 28px;
    font-weight: 700;
  }

  /**Play Online Section Start Here**/

  /**Responsive CSS For Mobile Ends Here**/
}